/* 고정 배경 */

#wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 832px;
  transform: translate(-50%, -50%);
  background-image: url("../images/mainBackground.png");
  z-index: -1;
}


/* 바둑판 */
#boardWrapper {
    position: relative; /* 반드시 있어야 absolute 자식 기준 됨 */

    width: fit-content;
    height: fit-content;

    top: 10%;
    left: 5%;

    display: grid;

    gap: 0;
    z-index: 1;
}


/* 각 자리 판단 */
.boardBlock {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("/eggsinthetray/assets/images/gameBoardDefaultBlock.png");
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

.stoneLayer {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 2;
}

/* 돌 이미지 */
.stoneLayer.black {
  background-image: url("/eggsinthetray/assets/images/gameBlackEgg.png");
}

.stoneLayer.white {
  background-image: url("/eggsinthetray/assets/images/gameWhiteEgg.png");
}

/* hover 시만 hoverLayer 표시 */
.boardBlock:not(.disabled):hover {
  background-image: url("/eggsinthetray/assets/images/gameBoardSelectedBlock.png");
  background-color: rgba(0, 255, 0, 0.2);
  background-blend-mode: multiply;
}

/* 금수 처리 (필요시 활성화) */
.boardBlock.forbidden {
  background-image: url("/eggsinthetray/assets/images/gameBoardForbiddenBlock.png");
  opacity: 0.3;
}

/* 이미 둔 자리: 커서 없앰 */
.boardBlock.disabled {
  cursor: default;
}

/* 병아리 머리 */
.chickHead{
    position: absolute;
    width: 68px;
    height: 60px;
    background-image: url("/eggsinthetray/assets/images/gameChickHead.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}


/* 버트은 */
.quit_btn {
    position: fixed;

    width: fit-content;
    height: fit-content;

    /* background-image: url("/eggsinthetray/assets/images/gameQuitButton.png"); */

    top: 80%;
    left: 52%;

    z-index: 2;
}

.moveback_btn {
    position: fixed;

    width: fit-content;
    height: fit-content;

    top: 80%;
    left: 72%;

    z-index: 2;
}
