/* ===============================
    기본 배경 및 전체 레이아웃
================================ */
#wrapper {
    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */

    width: 1280px;
    height: 832px;
    
    background-image: url("/eggsinthetray/assets/images/mainBackground.png");
    background-size: cover;
    
    z-index: -1;
}

#section_left {
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

#section_right {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

#section_game{
    flex: 9;
}

#section_timer {
    flex: 1;
}

#section_room_title{
    flex: 1;
}

#section_profile {
    flex: 3;
}

#section_button {
    flex: 1;
}




/* ===============================
    바둑판 영역
================================ */



#boardWrapper {
    position: relative;
    display: grid;
    gap: 0;
    top: 10%;
    left: 5%;
    z-index: 1;
    width: fit-content;
    height: fit-content;
}

.boardBlock {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url("/eggsinthetray/assets/images/gameBoardDefaultBlock.png");
    background-size: cover;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
}

.boardBlock:not(.disabled):hover {
    background-image: url("/eggsinthetray/assets/images/gameBoardSelectedBlock.png");
    background-color: rgba(0, 255, 0, 0.2);
    background-blend-mode: multiply;
}

.boardBlock.disabled {
    cursor: default;
}

.boardBlock.forbidden {
    background-image: url("/eggsinthetray/assets/images/gameBoardForbiddenBlock.png");
    opacity: 0.3;
}

.stoneLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.stoneLayer.black {
    background-image: url("/eggsinthetray/assets/images/gameBlackEgg.png");
}

.stoneLayer.white {
    background-image: url("/eggsinthetray/assets/images/gameWhiteEgg.png");
}

/* ===============================
    병아리 머리
================================ */

.chick_head_wrapper {
    display: flex;
    justify-content: space-between;
}

.chickHead {
    /* position: absolute; */
    width: 68px;
    height: 60px;
    background-image: url("/eggsinthetray/assets/images/gameChickHead.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

/* ===============================
    타이머
================================ */
/* #section_timer {
    position: relative; 
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.content_timer_text {
    font-size: 24px;
    text-align: center;
    font-family: "Galmuri11";
}

.content_timer_wrap {
    width: 100%;
    height: 20px;
    background: #ddd;
    margin-top: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.timer_fill {
    position: relative;
    height: 100%;
    width: 100%; 
    background: green;
    transition: width 0.3s ease;
} */

/* 타이머 영역 전체 */
#section_timer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content_timer_text {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    width: 40px;
    text-align: right;
}

.content_timer_wrap {
    width: 300px;
    height: 40px;
    position: relative;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.timer_fill {
    height: 100%;
    width: 0%;
    background-color: #facc15;
    transition: width 1s linear;
}



/* ===============================
    버튼
================================ */

.btn-icon {
    /* position: fixed; */
    width: 229px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}


.quit_btn {
    top: 80%;
    left: 52%;
    background-image: url("/eggsinthetray/assets/images/gameQuitButton.png");
}

.moveback_btn {
    top: 80%;
    left: 72%;
    background-image: url("/eggsinthetray/assets/images/gameMoveBackButton.png");
}
