@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');

    .center {
        display: flex;
        justify-content: center; /* 가로 가운데 */
        align-items: center; /* 세로 가운데 */
      }
      #wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 1280px;
        height: 832px;
        transform: translate(-50%, -50%);
        background-image: url("../images/loginBackGround.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
      }
      main {
        position: relative;
        flex-direction: column;
        margin-top: 130px;
        text-align: center;
        color: #492403;
      }
      main > img{
         position: absolute;
         width: 330px;
         height: 330px;
         left: 20px;
         bottom: -100px;
      }

      main #content_title {
        font-family: "Galmuri11";
        font-weight: 700;
        font-size: 100px;
        text-shadow: -8px -8px 0 #fff171, 8px -8px 0 #fff171, -8px 8px 0 #fff171,
          8px 8px 0 #fff171;
      }
      main #content_title span {
        font-size: 60px;
        text-shadow: -6px -6px 0 #fff171, 6px -6px 0 #fff171, -6px 6px 0 #fff171,
          6px 6px 0 #fff171;
      }
      main #content_btn {
        position: relative;
        width: 300px;
        height: 50px;
        background-color: #fddc3f;
        border-radius: 12px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        margin-top: 55px;

        font-family: "Galmuri11";
        font-weight: 400;
      }
      main #content_btn:hover {
        background-color: #ffffff;
      }

      #content_btn img {
        position: absolute;
        left: 16px;
        top: 13px;
        width: 26px;
        height: 28px;
      }
      #content_btn a{
      	text-decoration: none; /* 밑줄 제거 */
  		color: inherit;
      }

