@charset "UTF-8";
#wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 832px;
  transform: translate(-50%, -50%);
  background-image: url("../images/mainBackground.png");
  z-index: -1;
}
#header {
  width: 1280px;
  height: 7%;
}
/* 수정 */
#header button {
  all: unset; /* 기본 스타일 모두 제거 */
  background-image: url("../images/mainLogoutBtn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin-left: 86%;
  margin-top: 10px;
}
/* 수정 */
.content_header {
  display: flex; /* 가로 정렬 */
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  gap: 25px;
  width: 90%;
  height: 7%;
}
.refreshBtn {
  width: 65px;
  height: 70px;
  background-image: url("../images/mainRefreshWoodBtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.refreshBtn:hover {
  opacity: 0.8;
}

.inputWrapper {
  position: relative;
  width: 400px;
  height: 90%;
  background-color: #fffbf1;
  border-radius: 45px;
  border: 3px solid #5c3411;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-family: "galmuri11";
}
.inputWrapper input {
  all: unset;
}
.inputWrapper input::placeholder {
  font-size: 18px;
  color: rgba(79, 58, 5, 0.6);
  font-family: "galmuri11";
}

.inputWrapper .searchBtn {
  border: none;
  background: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.inputWrapper .searchBtn img {
  position: absolute;
  right: 10px;
  bottom: 6px;
  width: 32px;
  display: block;
}
/* 수정 */
main {
  display: flex;
  height: 85%;
  width: 86%;
  margin-left: 80px;
  padding-left: 77px;
}
/* 수정 */
.content_main {
  position: absolute;
  right: 20px;
  top: 56px;
  width: 90%;
  height: 80%;
  background-image: url("../images/mainBoard.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.section_left {
  position: relative;
  width: 58%;
  height: 100%;
}
.content_bottom {
  position: absolute;
  right: 60px;
  bottom: -10px;
}
.createBtn {
  width: 170px;
  height: 80px;
  background: transparent;
  background-image: url("../images/mainCreateBtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.content_main .content {
  width: 450px;
  height: 450px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  padding: 24px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.content_main .content::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

.content_main .content::-webkit-scrollbar-track {
  background: transparent;
  margin: 40px 0;
}

.content_main .content::-webkit-scrollbar-thumb {
  background-color: #9e6c3f;
  border-radius: 10px;
}

.content_main img {
  width: 80%;
  height: 80%;
  z-index: 1;
  position: relative;
}

.content_main .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  height: 60px;
  border-radius: 15px;
  background: #fffbf1;
  box-sizing: border-box;
  padding: 0 24px;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.04);
  margin-top: 11px;
}

.item_title {
  font-size: 22px;
  color: #522b09;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: "galmuri11";
}

.item_joinBtn {
  width: 121px;
  height: 43px;
  background: transparent;
  background-image: url("../images/mainJoinBtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 8px;
}

.item_joinBtn:hover {
  opacity: 0.8;
}

.item_roomState {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.item_roomState img {
  width: 100%;
  height: auto;
  display: block;
}
/* 수정 */
.section_bottom {
  position: relative;
  width: 100%;
  height: 6%;
}

/* 수정 */
.soundBtn {
  width: 55px;
  height: 55px;
  background-color: #98775b;
  border: 2px solid rgb(39, 29, 29);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
/* 수정 */
.soundBtn:hover {
  opacity: 0.9;
}
/* 수정 */
.soundbtn img {
  width: 20px;
  height: 20px;
}

/* 오른쪽 section 시작 */
.section_right {
  width: 30%;
  height: 100%;
  margin-left: 60px;
}
.content_profile {
  position: relative;
  margin-top: -60px;
  width: 78%;
  height: 88%;
  background-size: contain;
  background-image: url("../images/mainProfile.png");
  background-repeat: no-repeat;
  background-position: center;
}

.content_profile img {
  display: block;
}

#item_profile {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 37%;
  left: 50%;
  z-index: 1;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "galmuri11";
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
}



#item_memberInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;

  gap: 6px;
  width: 75%;
  z-index: 1;
}
#item_memberInfo .play_box {
  text-align: left;
  margin-top: 10px;
}

#item_memberInfo .item {
  text-align: center;
  font-family: "galmuri11";
  color: #512d0f;
  font-size: 20px;
  font-weight: 700;
}
.item #item_winRate {
  word-spacing: 37px;
  margin-left: 18px;
}

#item_exp {
  width: 100%;
  height: 20px;
  background-color: rgba(246, 110, 137, 0.8); /* 80% 불투명 */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.exp-bar-fill {
  height: 100%;
  background: linear-gradient(to right, #f6d365, #f11440);
  width: 0%;
  transition: width 0.5s ease;
  opacity: 1;
}

.content_profile item {
  font-family: "galmuri11";
}

.content_piyo img {
  width: 80%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
  margin-top: -100px;
}

/* 모달 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9998;
}

.modal-container {
  border-radius: 20px;
  width: 611px;
  height: 358px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding: 2rem;
  z-index: 9999;
}


